.morseTable {
    border: black solid 1px;
}
.morseTable td {
    padding: 3px;
}
.morseKey {
    border: #333 solid 1px;
}
.morseVal {
    border: #777 solid 2px;
}
#mainContent {
    position: relative;
    background-image:url('../img/telegraphBGsm.png');
    width: 640px;
    height: 480px;
}
#lewiskeyImg {
    position: absolute;
    top: 244px;
    left: 544px;
}
#clock {
    position: absolute;
    width: 106px;
    height: 106px;
    background: url('../img/clocksml.png') no-repeat;
}
#scoreBox {
    position: absolute;
}
#min {
    position: absolute;
    width: 12px;
    height: 102px;
    top: 0px;
    left: 45px;
    background: url('../img/minutesml.png');
    z-index: 2;
}
#hour {
    position: absolute;
    width: 15px;
    height: 102px;
    top: 0px;
    left: 45px;
    background: url('../img/hoursml.png');
    z-index: 1;
}
#output {
    font-family: cursive;
    position: absolute;
    top: 250px;
    -webkit-transform: perspective(622px) translate(-132px, 45px) rotateZ(5deg) rotateX(29deg) scale(0.927);
    left: 167px;
    width: 35%;
    height: 32%;
}

#morseSheet {
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    -webkit-transform: perspective(582px) rotateX(28deg) translate(125px, 223px) scale(0.27);
    transform: perspective(582px) rotateX(28deg) translate(125px, 223px) scale(0.27);
}