.morseTable {
    border: black solid 1px;
}
.morseTable td {
    padding: 3px;
}
.morseKey {
    border: #333 solid 1px;
}
.morseVal {
    border: #777 solid 2px;
}
.slots {
    font-size:31px;
	overflow:hidden;
	width:26px;
	height:46px;
	float:left;
}
.slots .wrapper{
	width:26px;
}
.slot0{
	width:26px;
	height:46px;
	text-align:center;
    background: url('../img/sbkg0.png');
}
.slot1{
    width:26px;
	height:46px;
	text-align:center;
    background: url('../img/sbkg1.png');
}
.slot2{
    width:26px;
	height:46px;
	text-align:center;
    background: url('../img/sbkg2.png');
}
#sb0
{
    position:relative;
    top:9px;
    left:28px;
}
#sb1
{
    position:relative;
    top:9px;
    left:42px;
}
#sb2{
    position:relative;
    top:9px;
    left:52px;
}
#mainContent {
    position: relative;
    background-image:url('../img/telegraphBGsm.png');
    width: 640px;
    height: 480px;
}
#lewiskeyImg {
    position: absolute;
    top: 244px;
    left: 544px;
}
#clock {
    position: absolute;
    width: 106px;
    height: 106px;
    background: url('../img/clocksml.png') no-repeat;
}
#scoreBox {
    position: absolute;
    left: 200px;
    top: 0px;
    width:188px;
    height:67px;
    background: url('../img/scoreBox.png') no-repeat;
}
#exchange {
    position: absolute;
    left: -29px;
    top: 80px;
    width: 256px;
    font-family: monospace;
    display: table;
    background: url('../img/exchange.png');
    height: 196px;
    -webkit-transform: scale(0.77);
    transform: scale(0.8);
}
#ex0, #ex1, #ex2, #ex3, #ex4, #ex5 {
    position: absolute;
    right: 36px;
}
#ex0 {
    top: 21px;
}
#ex1 {
    top: 49px;
}
#ex2 {
    top: 74px;
}
#ex3 {
    top: 100px;
}
#ex4 {
    top: 128px;
}
#ex5 {
    top: 155px;
}
#min {
    position: absolute;
    width: 12px;
    height: 102px;
    top: 0px;
    left: 45px;
    background: url('../img/minutesml.png');
    z-index: 2;
}
#hour {
    position: absolute;
    width: 15px;
    height: 102px;
    top: 0px;
    left: 45px;
    background: url('../img/hoursml.png');
    z-index: 1;
}
#output {
    font-family: cursive;
    position: absolute;
    top: 143px;
    -webkit-transform: perspective(516px) rotateZ(5deg) rotateX(29deg) translate(-100px, 156px) scale(0.8);
    transform: perspective(516px) rotateZ(5deg) rotateX(29deg) translate(-100px, 156px) scale(0.8);
    left: 198px;
    width: 35%;
    height: 32%;
}
#morseSheet {
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    -webkit-transform: perspective(582px) rotateX(28deg) translate(125px, 223px) scale(0.27);
    transform: perspective(582px) rotateX(28deg) translate(125px, 223px) scale(0.27);
}